@charset "utf-8";

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

h1,
h2,
h3,
h4,
a,
p,
ul,
li {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 1280px) {
  .container {
    max-width: 80%;
  }
}

/* Navbar */

.logo-navbar {
  width: 60%;
  margin: auto;
}

.bg-navbar {
  background-image: linear-gradient(to right top, #336df2, #4863ef, #5b58eb, #6c4be5, #7b3bde);
}

.lien-home {
  @apply block mt-4 mr-4;
  color: #fff;
  font-size: 0.9rem;
  margin-right: 2.6rem;
}

.lien-home:hover {
  @apply text-white;
}

@screen lg {
  .lien-home {
    @apply inline-block mt-0;
  }

  .btn-navbar {
    @apply mt-0;
  }
}

.btn-navbar {
  @apply inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white mt-4;
  margin: 0 3px 0 3px;
}

.btn-navbar:hover {
  @apply text-teal-500 bg-white border-transparent;
}

.btn-register {
  background: #5c83f5;
  border: 2px solid #5c83f5;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.02);
}

.btn-register:hover {
  color: #5c83f;
  background-color: #fff;
  border-color: transparent;
}

.btn-login {
  background: #976bf7;
  border: 2px solid #976bf7;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.02);
}

.btn-login:hover {
  color: #976bf7;
  background-color: #fff;
  border-color: transparent;
}
