<template>
  <div class="container mx-auto">
    <div class="w-full">
      <div class="flex mb-4">
        <div class="w-2/5 p-2 bg-gray-400 text-center">
          <h1>T1</h1>
        </div>
        <div class="w-3/5 p-2 bg-gray-500 text-center">
          <h1>T2</h1>
        </div>
      </div>
    </div>
  </div>
</template>
