<template>
  <nav class="flex items-center justify-between flex-wrap bg-navbar p-6">
    <div class="container mx-auto">
      <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <img src="https://zupimages.net/up/20/05/49fl.png" class="logo-navbar" />
        </div>

        <div class="text-sm lg:flex-grow">
          <router-link :to="{ name: 'home' }" class="lien-home">Accueil</router-link>
          <router-link :to="{ name: 'tutoriels' }" class="lien-home">Tutoriels</router-link>
          <router-link :to="{ name: 'server-jar' }" class="lien-home">Server.jar</router-link>
          <router-link :to="{ name: 'support' }" class="lien-home">Support</router-link>
        </div>

        <div v-if="auth">
          <router-link :to="{ name: 'account' }" class="btn-navbar btn-account">Compte</router-link>
        </div>
        <div v-else>
          <router-link :to="{ name: 'register' }" class="btn-navbar btn-register">Inscription</router-link>
          <router-link :to="{ name: 'login' }" class="btn-navbar btn-login">Connexion</router-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      auth: false
    }
  }
})
</script>

<style lang="scss" scoped>
.test {
  @apply text-white;

  &:hover {
    @apply text-green-500;
  }
}
</style>
